{% extends "base.html" %}

{% block title %}Iniciar Sesión{% endblock %}

{% block extra_head %}
  <!-- Script de Google reCAPTCHA -->
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}

{% block content %}
  <div class="ticket-container">
    <h1>🔐 Iniciar Sesión</h1>

    <form method="POST">

      <label>Usuario:</label>
      <input type="text" name="usuario" required>

      <label>Contraseña:</label>
      <input type="password" name="password" required>

      <!-- CAPTCHA -->
      <div class="g-recaptcha" data-sitekey="6Ldm5wIsAAAAAFtUDOlVYJJkJrGQxnYp3E4VBoiF"></div>

      <button type="submit">Entrar</button>
    </form>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, msg in messages %}
          <p class="error-text">{{ msg }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <div class="text-center-mt">
      <p>¿No tienes cuenta? <a href="{{ url_for('registro') }}" class="link-primary-bold">Regístrate aquí</a></p>
    </div>

  </div>
{% endblock %}
